<mat-paginator
  (page)="fetchData($event)"
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator>

<ul>
  @for (todo of todos(); track todo.id) {
  <li>
    <article>
      <h2>{{ todo.title }}</h2>
      <h2>{{ todo.completed }}</h2>
    </article>
  </li>
  }

  <!-- <app-custom-buttom type="material" (handleClick)="showAlert()">
    <p>Púlsame!</p>
  </app-custom-buttom>
  <app-custom-buttom type="prime" (handleClick)="showAlert()">
    <p>Púlsame!</p>
  </app-custom-buttom> -->
</ul>
