<section class="bg-slate-300 w-full p-10">
  <label
    class="input input-bordered flex justify-center items-center gap-2 mt-5 w-[300px]"
  >
    <input
      (focus)="shoWSearchBox()"
      (blur)="hideSearchBox()"
      type="text"
      placeholder="Search"
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-8 w-8 opacity-70"
    >
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd"
      />
    </svg>
  </label>
</section>
<section
  #searchBox
  class="px-20 w-full flex flex-wrap min-h-48 items-center border-cyan-500 bg-pink-400"
  [@fadeInOut]="searchBoxOpen ? 'open' : 'closed'"
>
  <div>HOLA</div>
</section>
